body {
    width: 30rem;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (min-width:768px) {
    body {
        width: 60rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
}