div {
    width: 100%;
    display: table;
}

#a {
    height: 4.688rem;
}

#b {
    height: 9.375rem;
}

#c,
#d {
    height: 7.813rem;
}

#e,
#f,
#g,
#h {
    border: none;
    display: inline-block;
    width: 50%;
    height: 15.625rem;
    text-align: center;
}

#i {
    height: 5rem;
}

@media (min-width:768px) {
    #a {
        height: 6.25rem;
        grid-column: 1/span 6;
    }
    #b {
        height: 37.5rem;
        grid-column: 1/2;
    }
    #c {
        height: 12.5rem;
        grid-column: 2/4;
    }
    #d {
        height: 12.5rem;
        grid-column: 4/6;
    }
    #e {
        height: 15.625rem;
        width: 100%;
        grid-column-start: 2;
    }
    #f {
        height: 15.625rem;
        width: 100%;
        grid-column-start: 3;
    }
    #g {
        height: 15.625rem;
        width: 100%;
        grid-column-start: 4;
    }
    #h {
        height: 15.625rem;
        width: 100%;
        grid-column-start: 5;
    }
    #i {
        height: 9.375rem;
        width: 100%;
        grid-column: 2 / span 6;
    }
}