@media (max-width:768px) {
    .a {
        background-color: greenyellow;
    }
    #b {
        background-color: hotpink;
    }
    #c {
        background-color: indianred;
    }
    #d {
        background-color: indigo;
    }
    #e {
        background-color: blue;
    }
    #f {
        background-color: red;
    }
    #g {
        background-color: seagreen;
    }
    #h {
        background-color: springgreen;
    }
    #i {
        background-color: violet;
    }
}

@media (min-width:768px) {
    #a {
        background-color: tomato;
    }
    #b {
        background-color: blueviolet;
    }
    #c {
        background-color: cyan;
    }
    #d {
        background-color: darkorange;
    }
    #e {
        background-color: dimgray;
    }
    #f {
        background-color: midnightblue;
    }
    #g {
        background-color: olive;
    }
    #h {
        background-color: turquoise;
    }
    #i {
        background-color: steelblue;
    }
}